/* Manipulação - Menu  */

*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #d5d5d5;
}

.nav-br{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    background-color: #a6a6a6;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color:black;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;
    color:black
}

.mobile-menu{
    display: none;
}

@media screen and (max-width:730px){
    .nav-br{
        padding:1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    #icon {
        display: block;
    }
}

@media screen and (min-width:731px){
    #icon {
        display: none;
    }
}

#icon{
    margin: 0;
    padding: 0;
    align-self: center;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
}

.mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item{
    display: block;
    padding: 1rem 2rem;
    background-color: #d5d5d5;
    border-radius: 15px 15px;
    margin: 5px;
}

/* Manipulação - grid  */

#container{
    display:grid;
    grid-template-rows: 60px 60px 60px 60px;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    grid-template-areas:
    "item1 item1 item1 item1" 
    "item2 item2 item2 item2"
    "item3 item3 item3 item3"
    "item4 item4 item4 item4";
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;



}
.item{
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    align-items: center;
}

.item1{
    grid-area: item1;
    background-color: #a6a6a6;
    border-radius: 30px;

}

.item2{
    grid-area: item2;
    background-color: #a6a6a6;
    border-radius: 30px;
    
}

.item3{
    grid-area: item3;
    background-color: #a6a6a6;
    border-radius: 30px;
}

.item4{
    grid-area: item4 ;
    background-color: #a6a6a6;
    border-radius: 30px;
}

.botao1{
    grid-area: botao1;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 150%;
    padding-right: 20px;
    padding-left: 20px;
}

.botao2{
    grid-area: botao2;
    background-color: #bc1823;
    border-radius: 20px;
    font-size: 150%;
    padding-right: 20px;
    padding-left: 20px;
}

.botao3{
    grid-area: botao3;
    background-color: #f4ff1b;
    border-radius: 20px;
    font-size: 150%;
    padding-right: 20px;
    padding-left: 20px;
}

.botao4{
    grid-area: botao4;
    background-color: #004aad;
    border-radius: 20px;
    font-size: 150%;
    padding-right: 20px;
    padding-left: 20px;
}