*{
    margin: 0;
    padding: 0;
}
/* 
.chamarEmergencia{
    background-color: aquamarine;
    color: beige;
} */

/* .cotainer{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
    row-gap:70px;
} */

.nav-br{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    background-color: black;
}

.logo{
    display: flex;
    align-items: center;

}

.logo h1{
    color: pink;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;

}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width:730px){
    .mav-bar{
        padding:1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
}